body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    text-align: justify;
}

header {
    height: 500px;
}

header nav {
    height: 100px;
    background: white;
    box-shadow: none;
}

nav .brand-logo {
    height: 100px;
    left: 15%;
}

nav .brand-logo img {
    width: 52px;
}

header nav ul {
    height: 100px;
}

header ul a {
    color: grey;
}

.header__main--pic {
    width: 100%;
    height: 400px;
    background-image: url('../assets/img/Banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.input-field.input-container {
    height: 100px;
    float: none;
    display: flex;
    margin: 0 auto;
}

.input-field > #search {
    margin-top: 25px;
}

.input-container i {
    margin-top: 40px;
    margin-right: 10px;
}

footer.page__footer {
    height: 80px;
    background: grey;
    bottom: 0;
}

/* Post */
.post__pic {
    width: 100%;
    height: 400px;
    background-image: url('https://picsum.photos/id/1/1000/400');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}